doctype html5

html
  head
    script(src='lib/signals.js')
    script(src='lib/sock.js')
    script(src='lib/multiplex_client.js')
    script(src='models.js')
    script.
      var dogs;
      models.onReady.add(function(models) {
        models.Dog.find({name: 'Dolly'}, {}, function(res) {
          dogs = res;
        });
      });
  body

