doctype html5

html
  head
    script(src='lib/lodash.custom.js')
    script(src='lib/p.js')
    script(src='lib/signals.js')
    script(src='lib/sock.js')
    script(src='lib/circular-json.js')
    script(src='lib/sock-channels.js')
    script(src='models.js')
  body
    h1 hello model.io

