doctype html5

html
  head
    script(src='lodash.custom.js')
    script(src='p.js')
    script(src='signals.js')
    script(src='sock.js')
    script(src='circular-json.js')
    script(src='sock-channels.js')
    script(src='client.js')
  body
